$text-color: #212529;
$border-color: #dee2e6;
$input-border-focus: #86b7fe;
$input-background-color: #ffffff;
$button-background: #0d6efd;
$button-text-color: #ffffff;
$button-focus-background: #0b5ed7;
$textarea-background: #e7edf3;

$mobile-max-width: 768px;
$table-small-max-width: 992px;
$desktop-width: 1440px
