@import "./src/styles/_variables.scss";
@import "./src/styles/_mixins.scss";

html {
  font-size: 16px;
  line-height: 20px;

  @include mediaMax($mobile-max-width) {
    font-size: 14px;
    line-height: 18px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 50px 0;

  font-family: Avenir, Helvetica, Arial, sans-serif;

  box-sizing: border-box;

  @include mediaMax($table-small-max-width) {
    padding: 25px 0;
  }

  @include mediaMax($mobile-max-width) {
    padding: 15px 0;

    font-size: 14px;
    line-height: 18px;
  }

  button,
  input,
  textarea {
    font-family: inherit;

    resize: none;
  }

  & * {
    box-sizing: border-box;
  }
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


  @include mediaMin($desktop-width) {
    max-width: 1440px;
  }

  @include mediaMin($table-small-max-width) {
    max-width: 960px;
  }
}

.overflow-auto {
  max-width: 100%;
  overflow-y: auto;
}

.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: $button-text-color;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  background-color: $button-background;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: $button-focus-background;
  }
}
